﻿@model Presentacion.MarshallsLLCWebApp.Models.EmployeeViewModel

@{
    ViewBag.Title = "AddEmployee";
}

<h2>Registrar Empleados</h2>

<div class="text-danger">
    @ViewBag.ErrorRegisto
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Office, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownListFor(model => model.Office, (IEnumerable<SelectListItem>)ViewBag.OfficesList, new { @class = "form-control", @id= "Office" })
                        @Html.ValidationMessageFor(model => model.Office, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.EmployeeSurname, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.EmployeeSurname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeSurname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Division, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownListFor(model => model.Division, (IEnumerable<SelectListItem>)ViewBag.DivisionList, new { @class = "form-control", @id = "Division" })
                        @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownListFor(model => model.Position, (IEnumerable<SelectListItem>)ViewBag.PosicionList, new { @class = "form-control", @id = "Position" })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.IdentificationNumber, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.BaseSalary, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.BaseSalary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BaseSalary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.ProductionBonus, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ProductionBonus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductionBonus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.CompensationBonus, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.CompensationBonus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompensationBonus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Commission, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Commission, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Commission, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Contributions, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Contributions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contributions, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="submit" value="Guardar" class="btn btn-default" id="btnGuardar" />
                </div>
            </div>
        </div>
       </div>

        }

        <div>
            @Html.ActionLink("Regresar a la Lista", "GetEmployeeAll")
        </div>

@*

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
*@