﻿@model Presentacion.MarshallsLLCWebApp.Models.EmployeeViewModel

@{
    ViewBag.Title = "DeleteEmployee";
}

<h2>Eliminar Empleado</h2>
<div class="text-danger">
    @ViewBag.Error
</div>
<h3>Seguro que desea eliminar este empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompensationBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompensationBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contributions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contributions)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "GetEmployeeAll")
        </div>
    }
</div>
