﻿@model IEnumerable <Presentacion.MarshallsLLCWebApp.Models.EmployeeViewModel>

@{
    ViewBag.Title = "GetAdvancedEmployeeList";
}

@ViewBag.Test
<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Busqueda de Empleados</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm("GetAdvancedEmployeeList", "Employee", FormMethod.Post))
        {
            <div class="form-horizontal">
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-inline col-md-6">
                            @Html.Label("Id Empleado:", new { @class = "control-label col-md-4" })
                            <div class="col-md-15">
                                @Html.TextBox("txtBuscarPor", null, new { @class = "form-control" })
                                <input type="submit" value="Buscar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p><span style="font-weight:bold">Nombre:</span> @ViewBag.Nombre</p>
                            <p><span style="font-weight:bold">NumeroIdentificacion:</span> @ViewBag.NumeroIdentificacion</p>
                            <p><span style="font-weight:bold">Office:</span> @ViewBag.Office</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p><span style="font-weight:bold">Position:</span> @ViewBag.Position</p>
                            <p><span style="font-weight:bold">Grade:</span> @ViewBag.Grade</p>
                        </div>
                    </div>
                    <br/>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-inline col-md-7">
                            @Html.Label("Buscar Empleados de:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 ">
                                @Html.DropDownList("DDBuscarPorArea", null, "Seleccione", new { @class = "form-control", onchange = "this.form.submit()" })
                            </div>
                        </div>
                    </div>
            </fieldset>
            </div>
        }
    </div>
</div>

<h2>Lista de Empleados</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSalary)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalary)
                </td>

            </tr>
        }

    </table>

<script>

</script>