﻿@model IEnumerable<Presentacion.MarshallsLLCWebApp.Models.EmployeeViewModel>

@{
    ViewBag.Title = "GetEmployeeAll";
}
<div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Lista de Empleados</h2></div>
<div class="text-danger">
    @ViewBag.Error
</div>

<br />
<div class="form-inline col-md-15" style="float:right;">
    <a href="~/Employee/GetAdvancedEmployeeList">
        <input type="button" value="Busqueda Avanzada" class="btn btn-default" />
    </a>
</div>
<div>
    <p style="font-weight:bold">
        @Html.ActionLink("Crear Nuevo", "AddEmployee")
    </p>
</div>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @item.BeginDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationNumber)
        </td>
        <td>
        <a class="btn btn-info" href="~/Employee/EditEmployee/@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
        <a class="btn btn-danger" href="~/Employee/DeleteEmployee/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
}

</table>
