﻿@model Presentacion.MarshallsLLCWebApp.Models.SalaryViewModel

@{
    ViewBag.Title = "AddSalary";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Js/alertify.min.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />  

<h2>Proceso de Pago Salarial</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.IdEmployee, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.IdEmployee, new { htmlAttributes = new { @class = "form-control none" } })
                        @Html.ValidationMessageFor(model => model.IdEmployee, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.IdentificationNumber, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.BaseSalary, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.BaseSalary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BaseSalary, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.ProductionBonus, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ProductionBonus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductionBonus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.CompensationBonus, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.CompensationBonus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompensationBonus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Commission, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Commission, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Commission, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.Contributions, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Contributions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contributions, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.TotalSalary, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.TotalSalary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TotalSalary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.LabelFor(model => model.PayYear, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @*  @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } }) *@
                        @Html.DropDownListFor(m => m.PayYear, new SelectList("0", "Value"), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PayYear, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>
        <h3>Seleccion de Meses a Pagar</h3>
        <div style="display:inline-flex;">
            <div style="margin:15px;">
                <input type="checkbox" id="ckbEnero" name="ckbEnero" value="1" onclick="fn_ckbEnero();">
                <label for="vehicle1"> Enero</label><br>
                <input type="checkbox" id="ckbFebrero" name="ckbFebrero" value="2" onclick="fn_ckbFebrero();">
                <label for="vehicle2"> Febrero</label><br>
                <input type="checkbox" id="ckbMarzo" name="ckbMarzo" value="3" onclick="fn_ckbMarzo();">
                <label for="vehicle3"> Marzo</label><br>
                <input type="checkbox" id="ckbAbril" name="ckbAbril" value="4" onclick="fn_ckbAbril();">
                <label for="vehicle1"> Abril</label><br>
            </div>
            <div style="margin:15px;">
                <input type="checkbox" id="ckbMayo" name="ckbMayo" value="5" onclick="fn_ckbMayo();">
                <label for="vehicle2"> Mayo</label><br>
                <input type="checkbox" id="ckbJunio" name="ckbJunio" value="6" onclick="fn_ckbJunio();">
                <label for="vehicle3"> Junio</label><br>
                <input type="checkbox" id="ckbJulio" name="ckbJulio" value="7" onclick="fn_ckbJulio();">
                <label for="vehicle1"> Julio</label><br>
                <input type="checkbox" id="ckbAgosto" name="ckbAgosto" value="8" onclick="fn_ckbAgosto();">
                <label for="vehicle2"> Agosto</label><br>
            </div>
            <div style="margin:15px;">
                <input type="checkbox" id="ckbSeptiembre" name="ckbSeptiembre" value="9" onclick="fn_ckbSeptiembre();">
                <label for="vehicle3"> Septiembre</label><br>
                <input type="checkbox" id="ckbOctubre" name="ckbOctubre" value="10" onclick="fn_ckbOctubre();">
                <label for="vehicle1"> Octubre</label><br>
                <input type="checkbox" id="ckbNoviembre" name="ckbNoviembre" value="11" onclick="fn_ckbNoviembre();">
                <label for="vehicle2"> Noviembre</label><br>
                <input type="checkbox" id="ckbDiciembre" name="ckbDiciembre" value="12" onclick="fn_ckbDiciembre();">
                <label for="vehicle3"> Diciembre</label><br>
            </div>
        </div>
        <div>
            <input type="button" value="Realizar Pago" id="RealizarPago" class="btn btn-info" onclick="fc_Validar(); fn_RealizarPago();" />
        </div>
        <h3>Pagos en proceso</h3>
        <table id="detalle" class="lista table" border="1">
            <thead style="font-size:18px;">
                <tr class="bg-danger">
                    <th>Id</th>
                    <th>Identification Number</th>
                    <th>Base Salary</th>
                    <th>Production Bonus</th>
                    <th>Compensation Bonus</th>
                    <th>Commission</th>
                    <th>Contributions</th>
                    <th>TotalSalary</th>
                    <th>Year</th>
                    <th>Month</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
        }

        @*
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        *@

        <script type="text/javascript">
            //Cargar de years en el DropDownListFor
            var Month = 0;
            var d = new Date();
            var n = d.getFullYear() -5;
            var select = document.getElementById("PayYear");
            var fecha = new Date();
            var ano = fecha.getFullYear();
            select.innerText = ano;
            for (var i = n; i <= 2100; i++) {
                var opc = document.createElement("option");
                opc.text = i;
                opc.value = i;
                select.add(opc)
            }

            var qsPayYear = document.querySelector('#PayYear');
            qsPayYear.value = ano;

            var valor = 0;
            var idPrueba = 0;
            document.getElementById("PayYear").style.width = "300px";
            document.getElementById("PayYear").style.height = "35px";
            var ckbEnero = document.getElementById('ckbEnero');
            var ckbFebrero = document.getElementById('ckbFebrero');
            var ckbMarzo = document.getElementById('ckbMarzo');
            var ckbAbril = document.getElementById('ckbAbril');
            var ckbMayo = document.getElementById('ckbMayo');
            var ckbJunio = document.getElementById('ckbJunio');
            var ckbJulio = document.getElementById('ckbJulio');
            var ckbAgosto = document.getElementById('ckbAgosto');
            var ckbSeptiembre = document.getElementById('ckbSeptiembre');
            var ckbOctubre = document.getElementById('ckbOctubre');
            var ckbNoviembre = document.getElementById('ckbNoviembre');
            var ckbDiciembre = document.getElementById('ckbDiciembre');


            function fn_agregar() {

                cadena = "<tr>"
                cadena = cadena + "<td>" + $("#IdEmployee").val() + "</td>";
                cadena = cadena + "<td>" + $("#IdentificationNumber").val() + "</td>";
                cadena = cadena + "<td>" + $("#BaseSalary").val() + "</td>";
                cadena = cadena + "<td>" + $("#ProductionBonus").val() + "</td>";
                cadena = cadena + "<td>" + $("#CompensationBonus").val() + "</td>";
                cadena = cadena + "<td>" + $("#Commission").val() + "</td>";
                cadena = cadena + "<td>" + $("#Contributions").val() + "</td>";
                cadena = cadena + "<td>" + $("#TotalSalary").val() + "</td>";
                cadena = cadena + "<td>" + $("#PayYear").val() + "</td>";
                cadena = cadena + "<td>" + Month + "</td>";
                cadena = cadena + "<td><a class ='elimina'><button class='btn btn-danger' type='button'><span class='fa fa-remove'>Quitar</span></button></a></td>";
                $("#detalle tbody").append(cadena);

                fn_dar_eliminar();
            };
            function fn_dar_eliminar() {
                $("a.elimina").click(function () {
                    valor = $(this).parents("tr").find("td").eq(9).html();

                    fn_desactivarChek();
                    $(this).parents("tr").fadeOut("normal", function () {
                        $(this).remove();

                    });
                });
            };
            function fn_desactivarChek() {
                if (valor == 1) {
                    ckbEnero.checked = false;
                    ckbEnero.style.pointerEvents = 'auto';
                }
                else if (valor == 2) {
                    ckbFebrero.checked = false;
                    ckbFebrero.style.pointerEvents = 'auto';
                }
                else if (valor == 3) {
                    ckbMarzo.checked = false;
                    ckbMarzo.style.pointerEvents = 'auto';
                }
                else if (valor == 4) {
                    ckbAbril.checked = false;
                    ckbAbril.style.pointerEvents = 'auto';
                }
                else if (valor == 5) {
                    ckbMayo.checked = false;
                    ckbMayo.style.pointerEvents = 'auto';
                }
                else if (valor == 6) {
                    ckbJunio.checked = false;
                    ckbJunio.style.pointerEvents = 'auto';
                }
                else if (valor == 7) {
                    ckbJulio.checked = false;
                    ckbJulio.style.pointerEvents = 'auto';
                }
                else if (valor == 8) {
                    ckbAgosto.checked = false;
                    ckbAgosto.style.pointerEvents = 'auto';
                }
                else if (valor == 9) {
                    ckbSeptiembre.checked = false;
                    ckbSeptiembre.style.pointerEvents = 'auto';
                }
                else if (valor == 10) {
                    ckbOctubre.checked = false;
                    ckbOctubre.style.pointerEvents = 'auto';
                }
                else if (valor == 11) {
                    ckbNoviembre.checked = false;
                    ckbNoviembre.style.pointerEvents = 'auto';
                }
                else if (valor == 12) {
                    ckbDiciembre.checked = false;
                    ckbDiciembre.style.pointerEvents = 'auto';
                }

            };

            function fn_deshabilitarChek() {
                if (ckbEnero.checked && valor == 1) {
                    txtMonth.value = ckbEnero.value;
                    ckbEnero.style.pointerEvents = 'none';

                }
                else if (ckbFebrero.checked && valor == 2) {
                    txtMonth.value = ckbFebrero.value;
                    ckbFebrero.style.pointerEvents = 'none';
                }
                else if (ckbMarzo.checked && valor == 3) {
                    ckbMarzo.style.pointerEvents = 'none';
                    txtMonth.value = ckbMarzo.value;
                }
                else if (ckbAbril.checked && valor == 4) {
                    ckbAbril.style.pointerEvents = 'none';
                    txtMonth.value = ckbAbril.value;
                }
                else if (ckbMayo.checked && valor == 5) {
                    ckbMayo.style.pointerEvents = 'none';
                    txtMonth.value = ckbMayo.value;
                }
                else if (ckbJunio.checked && valor == 6) {
                    ckbJunio.style.pointerEvents = 'none';
                    txtMonth.value = ckbJunio.value;
                }
                else if (ckbJulio.checked && valor == 7) {
                    ckbJulio.style.pointerEvents = 'none';
                    txtMonth.value = ckbJulio.value;
                }
                else if (ckbAgosto.checked && valor == 8) {
                    ckbAgosto.style.pointerEvents = 'none';
                    txtMonth.value = ckbAgosto.value;
                }
                else if (ckbSeptiembre.checked && valor == 9) {
                    ckbSeptiembre.style.pointerEvents = 'none';
                    txtMonth.value = ckbSeptiembre.value;
                }
                else if (ckbOctubre.checked && valor == 10) {
                    ckbOctubre.style.pointerEvents = 'none';
                    txtMonth.value = ckbOctubre.value;
                }
                else if (ckbNoviembre.checked && valor == 11) {
                    ckbNoviembre.style.pointerEvents = 'none';
                    txtMonth.value = ckbNoviembre.value;
                }
                else if (ckbDiciembre.checked && valor == 12) {
                    ckbDiciembre.style.pointerEvents = 'none';
                    txtMonth.value = ckbDiciembre.value;
                }

            };

            function fn_ckbEnero() {
                Month = ckbEnero.value;
                ckbEnero.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbFebrero() {
                Month = ckbFebrero.value;
                ckbFebrero.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbMarzo() {
                Month = ckbMarzo.value;
                ckbMarzo.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbAbril() {
                Month = ckbAbril.value;
                ckbAbril.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbMayo() {
                Month = ckbMayo.value;
                ckbMayo.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbJunio() {
                Month = ckbJunio.value;
                ckbJunio.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbJulio() {
                Month = ckbJulio.value;
                ckbJulio.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbAgosto() {
                Month = ckbAgosto.value;
                ckbAgosto.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbSeptiembre() {
                Month = ckbSeptiembre.value;
                ckbSeptiembre.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbOctubre() {
                Month = ckbOctubre.value;
                ckbOctubre.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbNoviembre() {
                Month = ckbNoviembre.value;
                ckbNoviembre.style.pointerEvents = 'none';
                fn_agregar();
            };
            function fn_ckbDiciembre() {
                Month = ckbDiciembre.value;
                ckbDiciembre.style.pointerEvents = 'none';
                fn_agregar();
            };

            

        </script>

        <script type="text/javascript">


            function fn_RealizarPago() {
                var i = 0;
                var envio = "{";
                $("#detalle tbody tr").each(function (index) {
                    if (i == 0) {
                        envio += "ListaPagoSalario:[{IdEmployee:'" + $(this).find('td').eq(0).text() +
                            "',IdentificationNumber:'" + $(this).find('td').eq(1).text() +
                            "',BaseSalary:'" + $(this).find('td').eq(2).text() +
                            "',ProductionBonus:'" + $(this).find('td').eq(3).text() +
                            "',CompensationBonus:'" + $(this).find('td').eq(4).text() +
                            "',Commission:'" + $(this).find('td').eq(5).text() +
                            "',Contributions:'" + $(this).find('td').eq(6).text() +
                            "',TotalSalary:'" + $(this).find('td').eq(7).text() +
                            "',PayYear:'" + $(this).find('td').eq(8).text() +
                            "',PayMonth:'" + $(this).find('td').eq(9).text() + "'}";
                    } else {
                        envio += ",{IdEmployee:'" + $(this).find('td').eq(0).text() +
                            "',IdentificationNumber:'" + $(this).find('td').eq(1).text() +
                            "',BaseSalary:'" + $(this).find('td').eq(2).text() +
                            "',ProductionBonus:'" + $(this).find('td').eq(3).text() +
                            "',CompensationBonus:'" + $(this).find('td').eq(4).text() +
                            "',Commission:'" + $(this).find('td').eq(5).text() +
                            "',Contributions:'" + $(this).find('td').eq(6).text() +
                            "',TotalSalary:'" + $(this).find('td').eq(7).text() +
                            "',PayYear:'" + $(this).find('td').eq(8).text() +
                            "',PayMonth:'" + $(this).find('td').eq(9).text() + "'}"
                    }
                    i = 1;

                });
                envio += "]}";

                var json = eval("(" + envio + ')');
                //alertify.alert("INGRESE DATOS");
                console.info(json);

                $.ajax({
                    url: "AddSalary",
                    data: JSON.stringify(json),
                    type: "POST",
                    async: false,//this makes the ajax-call blocking
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    success: function (response) {
                        //alertify.alert(response);
                        //valid = response.valid;
                        
                        fc_LimpiarMese();
                        //limpiarCampos(response);
                        if (response == "Proceso realizado") {
                            MensajeExito(response);
                            //MensajeExito(response);
                        }
                        else {
                            MensajeError(response);
                        }
                        
                        //alert(response);
                    },
                    error: function (error) {
                        //alertify.alert(error);
                        alert("Error en el proceso");
                    }
                });
            };

            function limpiarCampos() {
                $.ajax({
                    success: function (res) {
                        //alertify.alert("exito");
                        window.location.reload().ajax();
                        
                    }
                });
                

            }

            function MensajeExito(response) {
                toastr.success(response, "Notificacion");
                limpiarCampos();

            }

            function MensajeError(response) {
                toastr.error(response, "Notificacion");


            }
            

            function fc_LimpiarMese() {
                document.getElementById('ckbEnero').checked = false;
                document.getElementById('ckbFebrero').checked = false;
                document.getElementById('ckbMarzo').checked = false;
                document.getElementById('ckbAbril').checked = false;
                document.getElementById('ckbMayo').checked = false;
                document.getElementById('ckbJunio').checked = false;
                document.getElementById('ckbJulio').checked = false;
                document.getElementById('ckbAgosto').checked = false;
                document.getElementById('ckbSeptiembre').checked = false;
                document.getElementById('ckbOctubre').checked = false;
                document.getElementById('ckbNoviembre').checked = false;
                document.getElementById('ckbDiciembre').checked = false;
            }

        </script>
  <script type="text/javascript"> 
      //Se establece caja de texto de solo lectura
      document.getElementById("IdEmployee").style.pointerEvents = 'none';
      document.getElementById("IdentificationNumber").style.pointerEvents = 'none';
      document.getElementById("BaseSalary").style.pointerEvents = 'none';
      document.getElementById("ProductionBonus").style.pointerEvents = 'none';
      document.getElementById("Commission").style.pointerEvents = 'none';
      document.getElementById("CompensationBonus").style.pointerEvents = 'none';
      document.getElementById("Contributions").style.pointerEvents = 'none';
      document.getElementById("TotalSalary").style.pointerEvents = 'none';
      
  
  </script>


<script type="text/javascript">
    //Validar campos
    var txtProductionBonus = document.getElementById("ProductionBonus");
    var txtCompensationBonus = document.getElementById("CompensationBonus");
    var txtCommission = document.getElementById("Commission");
    var txtContributions = document.getElementById("Contributions");
    var txtTotalSalary = document.getElementById("TotalSalary");
    var txtPayYear = document.getElementById("PayYear");

    function fc_Validar() {
        if (txtProductionBonus.value == "") {
            txtProductionBonus.value = "0";
        }
        if (txtCompensationBonus.value == "") {
            txtCompensationBonus.value = "0";
        }
        if (txtCommission.value == "") {
            txtCommission.value = "0";
        }
        if (txtContributions.value == "") {
            txtContributions.value = "0";
        }
        if (txtTotalSalary.value == "") {
            txtTotalSalary.value = "0";
        }

    }

    
    

</script>
