﻿@model IEnumerable<Presentacion.MarshallsLLCWebApp.Models.EmployeeViewModel>

@{
    ViewBag.Title = "GetEmployeeAllForPay";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Realizar Pagos de Salarios</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm("GetEmployeeAllForPay", "Salary", FormMethod.Post))
        {
            <div class="form-horizontal">
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="row" style="padding-bottom:8px;">
                            <div class="form-inline col-md-6">
                                @Html.Label("Id Empleado:", new { @class = "control-label col-md-4" })
                                <div class="col-md-15">
                                    @Html.TextBox("txtBuscarPor", null, new { @class = "form-control" })
                                    <input type="submit" value="Buscar" id="btnBuscar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

<h2>Lista de Empleados</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseSalary)
        </td>
        
        <td>
            @Html.ActionLink("Procesar Pago", "AddSalary", new { id=item.Id }, htmlAttributes: new { @id = "linkProcesarPago" })
    </tr>
}

</table>
