﻿@model IEnumerable<Presentacion.MarshallsLLCWebApp.Models.ConsultaSalaryViewModel>

@{
    ViewBag.Title = "GetSalaryList";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Pagos de Salarios</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm("GetSalaryList","Salary", FormMethod.Post))
        {
            <div class="form-horizontal">
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-inline form-group col-md-5">
                            @Html.Label("Fecha:", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("DDLYear", null, "", new { @class = "form-control" })
                            </div>
                            @Html.Label("Mes:", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownList("DDLMonth", null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-inline col-md-15">
                            <a href="~/Salary/GetAdvancedSalaryList">
                                <input type="button" value="Busqueda Avanzada" class="btn btn-default" />
                            </a>
                        </div>
                        
                        <div class="form-inline col-md-10">
                            @Html.Label("Buscar Por:", new { @class = "control-label col-md-4" })
                            <div class="col-md-3 dropdown">
                                @Html.DropDownList("BuscarPorList", null, "Seleccione", new { @class = "form-control", onkeypress = "return check(event)" })
                            </div>
                            <div class="col-md-15">
                                @Html.TextBox("txtBuscarPor", null, new { @class = "form-control" })
                                <input type="submit" value="Buscar" class="btn btn-default"  />
                            </div>
                            
                        </div>

                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

<h2>Lista de Pagos de Salarios</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @item.BeginDate.ToShortDateString()
        </td>
        <td>
            @item.Birthday.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSalary)
        </td>
        
    </tr>
}

</table>

<script type="text/javascript">
    var fecha = new Date();
    var yearActual = fecha.getFullYear();
    var monthAcctual = fecha.getMonth()+1;

    var selectDDLYear = document.getElementById("DDLYear");
    selectDDLYear.value = yearActual;

    var selectDDLMonth = document.getElementById("DDLMonth");
    selectDDLMonth.value = monthAcctual;

    var selectBuscarPorList = document.getElementById("BuscarPorList");

    var txtBuscarPor = document.getElementById("txtBuscarPor");

 

</script>