﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion de Nomina</h1>
    <p class="lead">WebApp de gestión de nóminas ofrece una gestión al detalle de todas las nóminas desarrollado para ofrecer a los usuarios una base de datos siempre actualizada con funcionamiento sumamente sencillo.</p>

    <div class="" id="imgPresent" style="width:100%; height:30%; margin-left: auto; margin-right: auto; text-align:center; ">
        <img class="imgIndex2" src="~/Content/Recursos/imagesPresent.jpg" alt="img tiempo de viajar" style=" " />

    </div>
    
</div>



